<div class="container">

    <br>
    <br>
    <br>
    <br>

    <div class="row mt-2">
        <div class="col-md-12">
            <h3 class="font-coursive">Game id:</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h3 class="font-coursive">{{gameId}}</h3>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-warning btn-lg btn-block"  (click)="goToGameBoard()">Load</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-dark btn-lg btn-block"  (click)="goToGameStart()">Back</button>
        </div>
    </div>

</div>

