<div class="container">

    <br>
      
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Chessboard here...</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Movses here....</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Game id:</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">White:</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Black:</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">State:</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-dark btn-lg btn-block"  (click)="goToGameStart()">Back</button>
        </div>
    </div>
    
    
</div>

