<div class="container" *ngIf="gameNotFound">
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Game not found</h4>
        </div>
    </div>
</div>

<div class="container" *ngIf="!gameNotFound">

    <br>
    <div class="row mt-2">
        <div class="col-md-6">
            <h4 class="font-coursive">White: {{white}}</h4>
        </div>
        <div class="col-md-6">
            <h4 class="font-coursive">Black: {{black}}</h4>
        </div>
    </div>
      
    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive newlines">{{ascii}}</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <select class="font-coursive" [(ngModel)]="selectedMove">
                <option *ngFor="let move of moves" [ngValue]="move">{{move.from}} to {{move.to}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-warning btn-lg btn-block"  (click)="makeMove()">Make move</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">Game id: {{gameId}}</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h4 class="font-coursive">State: {{state}}</h4>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-dark btn-lg btn-block"  (click)="goToGameStart()">Back</button>
        </div>
    </div>
    
    
</div>

