<div *ngIf="item" class="row">
    <div class="col-md-12">
      <h2 *ngIf="item._id">item Details</h2>
      <h2 *ngIf="!item._id">New item</h2>
    </div>
  </div>
  <div *ngIf="item" class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="item-name">Name</label>
        <input class="form-control" name="item-name" [(ngModel)]="item.name" placeholder="Name"/>
      </div>
      <div class="form-group">
        <label for="item-email">Email</label>
        <input class="form-control" name="item-email" [(ngModel)]="item.email" placeholder="support@mlab.com"/>
      </div>
      <div class="form-group">
        <label for="item-phone-mobile">Mobile</label>
        <input class="form-control" name="item-phone-mobile" [(ngModel)]="item.phone.mobile" placeholder="1234567890"/>
      </div>
      <div class="form-group">
        <label for="item-phone-work">Work</label>
        <input class="form-control" name="item-phone-work" [(ngModel)]="item.phone.work" placeholder="0123456789"/>
      </div>
      <button class="btn btn-primary" *ngIf="!item._id" (click)="createitem(item)">Create</button>
      <button class="btn btn-info" *ngIf="item._id" (click)="updateitem(item)">Update</button>
      <button class="btn btn-danger" *ngIf="item._id" (click)="deleteitem(item._id)">Delete</button>
    </form>
  </div>