/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Satisfy', cursive;
*/

.font-basic{
    font-family: 'Quicksand', sans-serif;
}

.list-group-item.active{
    color: black !important;
    background-color: #ffc107 !important;
    border-color: #848383 !important;

}

.font-coursive{
    font-family: 'Satisfy', cursive;
}

.margin-05{
    margin: 0.5em;
}

.separator{
    padding-top: 6em;
}