/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Satisfy', cursive;
*/

.font-basic{
    font-family: 'Quicksand', sans-serif;
}

.list-group-item.active{
    color: black !important;
    background-color: #ffc107 !important;
    border-color: #848383 !important;
}

.font-coursive{
    font-family: 'Satisfy', cursive;
}

.margin-05{
    margin: 0.5em;
}

.separator{
    padding-top: 6em;
}


.newlines{
    font-family: 'Space Mono', monospace;
    white-space: pre-wrap;
}

.monospace{
    font-family: 'Space Mono', monospace;
}

.board-row-cell{
    margin: 0em;
    width: 2em;
    height: 2em;
    display: inline-block;
    border-style: outset;
    border-color: #ffc107b3;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
}

.board-row-letter{
    margin: 0em;
    width: 2em;
    height: 2em;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
}

.board-row{
    margin: 0em;
}

.chessboard-box{
    height: 80%;
    width: 80%;
}